.dropdown {
  background: #807e7e;
    position: relative;
    color: white;
    height: 48px;
    display:table-cell;
    vertical-align:middle;
    cursor: pointer;
    width: 100%;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    margin-top: 8px;
    margin-left: -40px;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    color: black;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .text_center {
    font-weight: bold;
    padding-left: 20px;
    color: white;
    height: 48px;
    display:table-cell;
    vertical-align:middle;
    cursor: pointer;
  }

.title_mobile
{
  margin-left: 56.5px !important;
}

.right {
  margin-right:0px;/* whatever */
  margin:auto;
  margin-left: 80%;
  cursor: pointer;
  height: 30px;
  text-align: center;
}

.right:hover {
  margin-right:0px;/* whatever */
  margin:auto;
  margin-left: 80%;
  cursor: pointer;
  color: orange;
  height: 30px;
  text-align: center;
}

.ant-pagination {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: auto;
  text-align: center;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  -webkit-font-feature-settings: 'tnum';
  font-feature-settings: 'tnum', "tnum";
}