.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.menu_desktop {
  width: 300px !important;
  height: 100% !important;
  position: fixed !important;
  top: 50px;
  overflow: scroll;
  background-color: #FFF;
  z-index: 10;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  left: 0; /*or bottom, top, right*/
}

.menu_desktop_mobile {
  width: 300px !important;
  height: 100% !important;
  position: fixed !important;
  top: 50px;
  margin-left: -300px;
  overflow: scroll;
  background-color: #FFF;
  z-index: 10;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  left: 0; /*or bottom, top, right*/
}


.header_menu{
  position: fixed;
  z-index: 1000;
  height: 48px;
  width: -webkit-fill-available !important;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0); 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.header_menu_click{
  position: fixed;
  z-index: 1000;
  height: 56.5px;
  background: #EEEEEE;
}

.title_menu_mobile {
  position: fixed !important;
  background-color: #EEEEEE;
  z-index: 100 !important;
  width: -webkit-fill-available !important;
}